body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
h2, h4, h5 {
  background-color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 100%;
}
header {
  border-bottom: 1px solid seashell;
  display: flex;
  border: 1px solid green;
  position: fixed;
  width: 100%;
  background-color: black;
}
nav {
  border: 1px solid pink;
  display: flex;
  flex-flow: row wrap;
  margin: 0 10px;
  flex: auto;
  align-items: center;
  z-index: 10;
  min-height: 69px;
  justify-content: flex-end;
}
.nav_space {
  margin-right: 20px;
}
#logo {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}
#logo img{
  height: 50px;
}
a {
  color: seashell;
  font-weight: lighter;
}
.outerwrap {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: 1px solid red;
}
.mission_container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  justify-content: center;
  border: 1px solid red;
}
#mission {
  height: 700px;
  background-repeat: no-repeat;
  align-content: center;
  width: 1000px;
}
.featured_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding: 20px 0;
  border: 1px solid pink;
}
.featured_item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid red;
}
#featured_item_space {
  margin-right: 20px;
}
#featured_image {
  height: 200px;
  width: 300px;
  border: 1px solid red;
  margin-bottom: 10px;
}
.location_container {
  display: flex;
  flex-flow: row wrap;
  <!--adding-top: 85px;-->
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 1000px;
  background-image: url(../images/img-locations-background.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid pink;
}
.location_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 200px;
  margin: auto;
  background-color: black;
  border: 1px solid red;
}
#location_header {
  margin:auto;
  background: transparent;
  border: 1px solid red;
  padding: 0;
}
#location_title {
  background-color: transparent;
  color: seashell;
  text-align: center;
  border: 1px solid red;
}
.footer {
  display: flex;
  border: 1px solid green;
  width: 1000px;
  height: 200px;
  flex-direction: column;
  background-color: black;
}
.copyright {
  text-align: left;
  width: 100%;
  border: 1px solid green;
  display: flex;
  align-self: flex-start;
}
